<!DOCTYPE html>
<html>

  <head>
    <title>Python Flask Starter Application1</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="templates/stylesheets/style.css">
  </head>

  <body>
    <table>
      <tr>
        <td style= "width:30%;">
          <img class = "newappIcon" src="templates/images/newapp-icon.png">
        <td>
            <h1>Hi there {{test}}!</h1>
          <p>Thanks for creating a
            <span class = "blue">Python <a href = "http://flask.pocoo.org/">Flask</a> Starter Application1</span>.
    </table>
  </body>

</html>
