<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
<meta name="apple-mobile-web-app-capable" content="yes" />


<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" /><title>Scoring example</title>
<head>
<script type="text/javascript"> 

function get_chosen_prods() {
var pr1 = document.getElementById("prod1").options[document.getElementById("prod1").selectedIndex].text;
var pr2 = document.getElementById("prod1").options[document.getElementById("prod2").selectedIndex].text;
var pr3 = document.getElementById("prod1").options[document.getElementById("prod3").selectedIndex].text;
var pr4 = document.getElementById("prod1").options[document.getElementById("prod4").selectedIndex].text;
var pr5 = document.getElementById("prod1").options[document.getElementById("prod5").selectedIndex].text;
var all = [pr1,pr2,pr3,pr4,pr5];
var chosen=[];
for (var i in all) {
	if (all[i]!="Choose a product") {chosen.push(all[i])};
	};
return chosen;
};


function askModeler(input) {
var client = new XMLHttpRequest();
//var url = "http://119.81.123.177:9083/scoring/rest/service";
//var url = "http://119.81.123.177:9083/scoring/rest/configuration";
//var url = "http://119.81.123.177:9083/scoring/rest/configuration/DM_apriori/metadata";
var url = "http://119.81.123.177:9083/scoring/rest/configuration/DM_apriori/score";

prods=get_chosen_prods()

ID=String(Math.floor((Math.random() * 10000000) + 1)); 
body='';
body = ''+
'{													   '+
'	"id": "DM_apriori",                                '+
'	"requestInputTable": [{                            '+
'			"name": "trans",                           '+
'			"requestInputRow": [                      '
for (var i in prods) {
body += ''+
'				{"input":                               '+
'					[                                  '+
'					{"name": "ID","value": "'+ID+'"},       '+
'					{"name": "no","value": "'+(i+1)+'"},       '+
'					{"name": "item","value": "'+prods[i]+'"}      '+
'					]                                  '+
'					},'
i+=1
}
body = body.substring(0, body.length - 1);
body += ''+
'				]                                      '+
'			},                                         '+
'			{                                          '+
'			"name": "Customer",                        '+
'			"requestInputRow": [{                      '+
'				"input":                               '+
'					[                                  '+
'					{"name": "ID","value": "'+ID+'"},       '+
'					{"name": "branch","value": "1"},   '+
'					{"name": "prod3","value": ""}      '+
'					]                                  '+
'				}                                      '+
'				]                                      '+
'			}                                          '+
'		],                                             '+
'	"context": []                                      '+
'}                                                     '
client.open("POST", url, false);
client.setRequestHeader("Authorization", "Basic " + btoa("admin:spss"));
client.setRequestHeader("Content-Type", "application/json");
client.send(body);
result=JSON.parse(client.responseText);
document.getElementById("result1").innerHTML = result.rowValues[0].value[2].value;
document.getElementById("result2").innerHTML = result.rowValues[0].value[3].value;
document.getElementById("result3").innerHTML = result.rowValues[0].value[4].value;
}



function populate(name) {
var select = document.getElementById(name);
var options = ['AIR MOVEMENT & HEATING - Ceiling Cooling',
'AIR MOVEMENT & HEATING - Wall/Pedestal Cooling, Ind. Fan',
'APPLIANCES - Accessories',
'APPLIANCES - Batteries',
'APPLIANCES - Cooling',
'APPLIANCES - Door Chimes',
'APPLIANCES - Elements, Controls',
'APPLIANCES - Fans, Exhaust & Vent Equip',
'APPLIANCES - Fans, Heater, Light',
'APPLIANCES - Garden Lighting',
'APPLIANCES - HandDryers',
'APPLIANCES - Heating',
'APPLIANCES - Thermostates & Controls',
'APPLIANCES - Water Boilers/Coolers',
'AUSTEC - Containers',
'AUSTEC - Janitorial',
'AUSTEC - Lubrication',
'AUSTEC - Marking',
'AUSTEC - Paints',
'CABLE - Buildwire Cable',
'CABLE - Cable Other',
'CABLE - Circ Cable',
'CABLE - Ext Cords',
'CABLE - Flat Cable',
'CABLE - Flex',
'CABLE - SDI Cable',
'CABLE - SWA Cable',
'CABLE - XLPE Cable',
'CABLE ACCESSORIES - Cable Accessories',
'CABLE ACCESSORIES - Cable Clips',
'CABLE ACCESSORIES - Cable Markers',
'CABLE ACCESSORIES - Cable Termination and Jointing',
'CABLE ACCESSORIES - Cable Tie',
'CABLE ACCESSORIES - Earthrods',
'CABLE ACCESSORIES - Glands - Metal',
'CABLE ACCESSORIES - Glands - Nylon',
'CABLE ACCESSORIES - Heatshrink',
'CABLE ACCESSORIES - Lugs and Links',
'CABLE ACCESSORIES - Pits',
'CABLE ACCESSORIES - Resin Joints / Kits',
'CABLE ACCESSORIES - Screw Connectors',
'CABLE ACCESSORIES - Terminal Blocks and Links',
'CABLE ACCESSORIES - Terminals Pre-Insulated',
'CIRCUIT PROTECTION - Contactors',
'CIRCUIT PROTECTION - Earth LeakAge, Relay',
'CIRCUIT PROTECTION - Enclosures',
'CIRCUIT PROTECTION - Fuse Holders',
'CIRCUIT PROTECTION - Fuse Links',
'CIRCUIT PROTECTION - MCB',
'CIRCUIT PROTECTION - MCB/RCD',
'CIRCUIT PROTECTION - MCCB',
'CIRCUIT PROTECTION - Pwr Dis',
'CIRCUIT PROTECTION - RCBO',
'CIRCUIT PROTECTION - RCD',
'CIRCUIT PROTECTION - Surge Protection',
'CIRCUIT PROTECTION - Switchboards & Accessories',
'CIRCUIT PROTECTION - Switches, Main Switches',
'CONDUIT AND FITTINGS - Bends Sweep',
'CONDUIT AND FITTINGS - Cable Cover',
'CONDUIT AND FITTINGS - Cable Ladder',
'CONDUIT AND FITTINGS - Cable Tray',
'CONDUIT AND FITTINGS - Channel',
'CONDUIT AND FITTINGS - Clamps Cable',
'CONDUIT AND FITTINGS - Conduit Comms',
'CONDUIT AND FITTINGS - Conduit Corrugated',
'CONDUIT AND FITTINGS - Conduit Flexible',
'CONDUIT AND FITTINGS - Conduit Rigid',
'CONDUIT AND FITTINGS - Conduit Steel',
'CONDUIT AND FITTINGS - Duct Accessories',
'CONDUIT AND FITTINGS - Fittings',
'CONDUIT AND FITTINGS - Fittings & Supports',
'CONDUIT AND FITTINGS - Junction Boxes',
'CONDUIT AND FITTINGS - Ladder Tray',
'CONDUIT AND FITTINGS - Metal Saddles',
'DATA ACCESSORIES - Accessories, Tele, Voice',
'DATA ACCESSORIES - Cabinets',
'DATA ACCESSORIES - Cable Management',
'DATA ACCESSORIES - Connectivity, Copper',
'DATA ACCESSORIES - Connectivity, Fibre',
'DATA ACCESSORIES - Connector, Fibre',
'DATA ACCESSORIES - Data Accessories',
'DATA ACCESSORIES - Disconnection Modules',
'DATA ACCESSORIES - Fiber Distribution',
'DATA ACCESSORIES - Fibre Accessories',
'DATA ACCESSORIES - Fibre Accessories',
'DATA ACCESSORIES - Fibre Accessories',
'DATA ACCESSORIES - Fibre Accessories',
'DATA ACCESSORIES - Fibre Accessories',
'DATA ACCESSORIES - Fibre Accessories',
'DATA ACCESSORIES - Fibre Accessories',
'DATA ACCESSORIES - Fibre Accessories',
'DATA ACCESSORIES - Fibre Leads',
'DATA ACCESSORIES - Fibre Testers',
'DATA ACCESSORIES - Frames, Blocks',
'DATA ACCESSORIES - Jack',
'DATA ACCESSORIES - Manag',
'DATA ACCESSORIES - Netshelter',
'DATA ACCESSORIES - Network Active',
'DATA ACCESSORIES - Patch Lead',
'DATA ACCESSORIES - Patch Panel',
'DATA ACCESSORIES - Pay TV',
'DATA ACCESSORIES - Racks & Cable Management',
'DATA ACCESSORIES - Surface Mount Outlet',
'DATA ACCESSORIES - Surge & Accessories',
'DATA ACCESSORIES - Telco, Equipment',
'DATA ACCESSORIES - Telephone, Accessories',
'DATA ACCESSORIES - Test Equipment',
'DATA ACCESSORIES - Tools',
'DATA ACCESSORIES - TV, FTA, Antennas',
'DATA ACCESSORIES - TV, Hardware',
'DATA ACCESSORIES - TV, Satelite',
'DATA ACCESSORIES - UPS',
'DATA ACCESSORIES - Zone Cabling',
'DATA CABLE - Cable Other',
'DATA CABLE - Cable, Audio',
'DATA CABLE - Cable, Coax',
'DATA CABLE - Cable, Copper',
'DATA CABLE - Cable, Fibre',
'DATA CABLE - Cable, Flex',
'DATA CABLE - Cable, Instrument',
'DATA CABLE - Cable, LAN',
'DATA CABLE - Cable, Security',
'DATA CABLE - Cable, Telephone',
'DOMESTIC ACCESSORIES - Automation',
'DOMESTIC ACCESSORIES - Connection, Powerboard',
'DOMESTIC ACCESSORIES - Connector, Junction Box',
'DOMESTIC ACCESSORIES - Cord Related Acc.',
'DOMESTIC ACCESSORIES - GPO',
'DOMESTIC ACCESSORIES - Lighting Acc.',
'DOMESTIC ACCESSORIES - Meterbox, Enclosures',
'DOMESTIC ACCESSORIES - Metering Acc.',
'DOMESTIC ACCESSORIES - Motion Dectectors',
'DOMESTIC ACCESSORIES - Motion Detectors',
'DOMESTIC ACCESSORIES - Mount Acc.',
'DOMESTIC ACCESSORIES - Plug Bases/Sockets',
'DOMESTIC ACCESSORIES - Protection, Fire/Security',
'DOMESTIC ACCESSORIES - RCD/Surge Protect Products',
'DOMESTIC ACCESSORIES - Security Products',
'DOMESTIC ACCESSORIES - Smoke & Heat Detectors',
'DOMESTIC ACCESSORIES - Switch',
'ELECTRIC MOTOR - MOTORS',
'ELECTRICIANS TOOLS - Abrasives & Adhesives',
'ELECTRICIANS TOOLS - Tape',
'ENCLOSURES - ENCLOSURES',
'ENCLOSURES - Enclosures, Accessories',
'ENCLOSURES - Enclosures, Ancil/Equip',
'ENCLOSURES - Enclosures, Polycarb',
'ENCLOSURES - Enclosures, Polyester',
'ENCLOSURES - Enclosures, PVC',
'ENCLOSURES - Enclosures, S/Steel',
'ENCLOSURES - Enclosures, Steel',
'FIXINGS, FASTENERS & WELDING - Fasteners',
'FIXINGS, FASTENERS & WELDING - Signalling Devices',
'FIXINGS, FASTENERS & WELDING - Welding',
'INDUSTRIAL AUTOMATION - Automation',
'INDUSTRIAL AUTOMATION - Connectors',
'INDUSTRIAL AUTOMATION - Detection',
'INDUSTRIAL AUTOMATION - Field Switching',
'INDUSTRIAL AUTOMATION - PLC Equipments',
'INDUSTRIAL AUTOMATION - Relays',
'INDUSTRIAL AUTOMATION - Terminals',
'INDUSTRIAL AUTOMATION - Terminals, Rail Mounting',
'INDUSTRIAL CONTROL - Busbar',
'INDUSTRIAL CONTROL - Contactors & Accessories',
'INDUSTRIAL CONTROL - Foot Switches',
'INDUSTRIAL CONTROL - Load Break Switches',
'INDUSTRIAL CONTROL - MCD',
'INDUSTRIAL CONTROL - Meters, Panel',
'INDUSTRIAL CONTROL - Motor Circuit Breakers',
'INDUSTRIAL CONTROL - Motor Starters',
'INDUSTRIAL CONTROL - OCD',
'INDUSTRIAL CONTROL - Overload Relays',
'INDUSTRIAL CONTROL - Pressure Switches',
'INDUSTRIAL CONTROL - Pushbuttons',
'INDUSTRIAL CONTROL - Relays, Flat/Rnd Pin',
'INDUSTRIAL CONTROL - Rockwell MV Measurement',
'INDUSTRIAL CONTROL - Rotary Cam Switch',
'INDUSTRIAL CONTROL - Safety',
'INDUSTRIAL CONTROL - SIRIUS products',
'INDUSTRIAL CONTROL - Timers/Relays',
'INDUSTRIAL EQUIPMENT - Cable Glands',
'INDUSTRIAL EQUIPMENT - Hazardous Location',
'INDUSTRIAL EQUIPMENT - Level Controllers',
'INDUSTRIAL EQUIPMENT - Power Supplies',
'INDUSTRIAL EQUIPMENT - Pumps',
'INDUSTRIAL EQUIPMENT - Transformers',
'INSTALLATION EQUIPMENT - Cutting Tools',
'INSTALLATION EQUIPMENT - Hand Tools',
'INSTALLATION EQUIPMENT - Machinery',
'INSTALLATION EQUIPMENT - Measuring Tools',
'INSTALLATION EQUIPMENT - Power Tool',
'LAMPS - Automotive Special',
'LAMPS - Fluorescent Compact',
'LAMPS - Fluorescent Compact Stick',
'LAMPS - Fluorescent Linear Circular',
'LAMPS - Fluorescent Linear Coloured',
'LAMPS - Fluorescent Linear Special',
'LAMPS - Fluorescent Linear Std',
'LAMPS - Fluorescent Linear Triphosphor',
'LAMPS - Fluorescent Starters',
'LAMPS - Halogen Dichroic',
'LAMPS - Halogen Double Ended',
'LAMPS - Halogen PAR',
'LAMPS - Hid HP Sodium',
'LAMPS - Hid Mercury',
'LAMPS - Hid Metal Halide',
'LAMPS - Incandescent Decorative Candle',
'LAMPS - Incandescent Decorative Reflector',
'LAMPS - Incandescent Decorative Round',
'LAMPS - Incandescent GLS',
'LAMPS - Incandescent Pilot',
'LAMPS - Lamp, Led and Accessories',
'LAMPS - Special',
'LIGHTING - Amenity, Architectural',
'LIGHTING - Amenity, Bulkhead',
'LIGHTING - Batten, Diffuser',
'LIGHTING - Batten, Emergency',
'LIGHTING - Batten, Standard',
'LIGHTING - Batten, Weatherproof',
'LIGHTING - Components',
'LIGHTING - Components, Lampholder',
'LIGHTING - Control Gear',
'LIGHTING - Decorative',
'LIGHTING - Downlight',
'LIGHTING - Emergency, Battery',
'LIGHTING - Emergency, Exit Sign',
'LIGHTING - Emergency, Exit Sign, Diffuser',
'LIGHTING - Fittings',
'LIGHTING - Floodlight',
'LIGHTING - Hazordous Area',
'LIGHTING - Industrial, High Bay',
'LIGHTING - Industrial, Low Bay',
'LIGHTING - LIGHTING ',
'LIGHTING - Lights LED and accessories',
'LIGHTING - Outdoor Lighting & Acces.',
'LIGHTING - Transformer',
'LIGHTING - Troffers & Acces.',
'MECHANICAL - Accessories',
'MECHANICAL - Hose',
'MECHANICAL - Materials Handling',
'MECHANICAL - Power Transmission',
'PROTECTIVE SAFETY PRODUCTS - Audible/Vis Warning Signals',
'PROTECTIVE SAFETY PRODUCTS - Clothing',
'PROTECTIVE SAFETY PRODUCTS - Computer Printables',
'PROTECTIVE SAFETY PRODUCTS - Eye & Face Protect',
'PROTECTIVE SAFETY PRODUCTS - Foot & Leg Protect',
'PROTECTIVE SAFETY PRODUCTS - Hand Protection',
'PROTECTIVE SAFETY PRODUCTS - Head Protection',
'PROTECTIVE SAFETY PRODUCTS - Height & Fall Protect',
'PROTECTIVE SAFETY PRODUCTS - Hygiene',
'PROTECTIVE SAFETY PRODUCTS - Miscellaneous Safety Products',
'PROTECTIVE SAFETY PRODUCTS - Respiratory Protect',
'PROTECTIVE SAFETY PRODUCTS - Safety - Workplace',
'PROTECTIVE SAFETY PRODUCTS - Skin Protect',
'PROTECTIVE SAFETY PRODUCTS - Spill Control & Contain',
'PROTECTIVE SAFETY PRODUCTS - Tags & Signage',
'PROTECTIVE SAFETY PRODUCTS - Traffic Management',
'SOLAR - Renew Energy',
'SOLAR - SOLAR',
'SWITCHGEAR - Connector, Appliance Inlets',
'SWITCHGEAR - Enclosures & Boxes',
'SWITCHGEAR - Plugs & Extn. Sockets',
'SWITCHGEAR - Socket Outlets',
'SWITCHGEAR - Switched Socket Outlets',
'SWITCHGEAR - Switches',
'SWITCHGEAR - Switches Isolating',
'SWITCHGEAR - Timers',
'TEST EQUIPMENT & TIME CONTROL - Measure',
'TEST EQUIPMENT & TIME CONTROL - Time Switches'];
for(var i = 0; i < options.length; i++) {
    var opt = options[i];
    var el = document.createElement("option");
    el.textContent = opt;
    el.value = opt;
    select.appendChild(el);
	};
};

function fill_products() {
populate("prod1") ;
populate("prod2") ;
populate("prod3") ;
populate("prod4") ;
populate("prod5") ;
};


</script>

</head>
<body onload="fill_products()">

<br>
<select id="prod1" onchange="askModeler()">
    <option>Choose a product</option>
</select>
<br>
<select id="prod2" onchange="askModeler()">
    <option>Choose a product</option>
</select>
<br>
<select id="prod3" onchange="askModeler()">
    <option>Choose a product</option>
</select>
<br>
<select id="prod4" onchange="askModeler()">
    <option>Choose a product</option>
</select>
<br>
<select id="prod5" onchange="askModeler()">
    <option>Choose a product</option>
</select>
<br>
<br>
<br>

Recommendation 1: <textarea id="result1"></textarea>
<br>
Recommendation 2: <textarea id="result2"></textarea>
<br>
Recommendation 3: <textarea id="result3"></textarea>
<br> 
<button onclick=" location.reload()">Reset</button> 

</body>
</html>